body {
  font-family: got;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  height: 200px;
  width: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}


.card-container{
  font-size: 32px;
  color: white;
  font-weight: 400;
  margin: 1em;
  text-align: center;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}


.gameboard-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.score-container{
  min-width: fit-content;
  max-width: 25%;
  margin: auto;
  font-size: 28px;
}


@font-face {
  font-family: 'got';
  src: local(got), url(./fonts/got.ttf) format("truetype");
  font-weight: bold;
}